NEXT_PUBLIC_SUPABASE_URL=https://jxqnfzujsgtzzjabvplm.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_anon_key_here
NEXT_PUBLIC_TENANT_ID=5518085b-42e9-4608-8c56-890cef45ba9b
NEXT_PUBLIC_CHANNEL_ID=58c4062a-9fe9-4ae2-abff-5a8b5236a79e
