# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://jxqnfzujsgtzzjabvplm.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp4cW5menVqc2d0enpqYWJ2cGxtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU0NDIzNzYsImV4cCI6MjA5MTAxODM3Nn0.LSeDBTdAcPDQmabe50EJtEWdFExUjINL5pc5MbmN4I8

# Tenant de homologação (substituir por leitura do auth em produção)
NEXT_PUBLIC_TENANT_ID=5518085b-42e9-4608-8c56-890cef45ba9b

# App
NEXT_PUBLIC_APP_NAME=AtendimentoIA
